/* Publication Info */

.lens-article .content-node.publication-info {
  font-size: 16px;
  color: #333;
}

/*.article .resources .nodes > .content-node.publication-info > .content {*/
  /*border-top: 1px solid #ddd;*/
/*}*/

.lens-article .content-node.publication-info table {
  padding: 10px 0;
  border: none;
  width: 100%;
}

.lens-article .content-node.publication-info .meta-data > .container {
  margin-bottom: 20px;
}

.lens-article .content-node.publication-info .meta-data {
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.lens-article .content-node.publication-info .label {
  float: left;

  width: 100px;
  font-size: 15px;
  color: #999;
}

.lens-article .content-node.publication-info .value {
  margin-left: 140px;
}

.lens-article .content-node.publication-info .dates {
  font-size: 16px;
}

.article .resources .nodes > .content-node.publication-info > .content {
  border: none;
  padding: 10px;
}

.article .resources .nodes > .content-node.publication-info #articleinfo {
  font-size: 16px;
}

.article .resources .nodes > .content-node.publication-info #articleinfo .heading.level-3 {
  padding-top: 10px;
}

.article .resources .nodes > .content-node.publication-info #articleinfo .heading.level-3 .content {
  font-size: 15px;
  font-weight: normal;
  font-family: "Source Sans Pro";
  color: #999;
}
