/*
Citations 
--------------------------------------- */

.lens-article .content-node.citation .content .title {
  font-family: 'Avenir LT W01 85 Medium', 'Montserrat', 'Source Sans Pro';
  font-size: 16px;
  margin-bottom: 20px;
}

.lens-article .content-node.citation .content .authors {
  font-size: 16px;
}

.lens-article .content-node.citation .content .source {
  color: #777;
  padding-top: 10px;
}

.lens-article .content-node.citation .content .citation-urls {
  padding-top: 20px;
}

.lens-article .content-node.citation .content .citation-urls .url {
  padding-right: 20px;
}


/*
Key Reference Styles (dynamically injected, not part of the citation model)
--------------------------------------- */

.lens-article .content-node.citation .content .key-reference {
  border-top: #eee 4px solid;
  padding-top: 20px;
}

.lens-article .content-node.citation .content .key-reference .creator {
  color: #6EAA2C;
  font-size: 16px;
}

.lens-article .content-node.citation .content .key-reference .description {
  font-size: 16px;
  color: #666;
}