/*
Contributor 
--------------------------------------- */

.lens-article .content-node.contributor .content {
  
}

.lens-article .content-node.contributor .affiliation {
  margin-top: 10px;
  font-size: 16px;
}

.lens-article .content-node.contributor .contributor-name {
  font-family: 'Avenir LT W01 85 Medium', 'Montserrat', 'Source Sans Pro';
  font-size: 16px;
  margin-bottom: 20px;
}

.lens-article .content-node.contributor .label {
  font-size: 15px;
  margin-top: 20px;
  color: #999;
}